[build]
  publish = "."
  command = ""

[[headers]]
  for = "/*"
  [headers.values]
    X-Content-Type-Options = "nosniff"
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"

[[headers]]
  for = "/*.css"
  [headers.values]
    Cache-Control = "public, no-cache"

[[headers]]
  for = "/*.js"
  [headers.values]
    Cache-Control = "public, no-cache"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
